.Header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 12px;
  margin-top: 12px;
}

.Header .ticket {
  padding: 8px;
  text-align: left;
  color: white;
  background-color: rgb(0, 110, 255);
  border-radius: 0px 8px 8px 0px;
}

.price {
  text-align: end;
  margin-right: 12px;
}

.price h3 {
  color: rgb(210, 138, 30);
}
